@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Component */
.btn-primary {
  @apply px-6 md:px-[50px] lg:px-[72px] py-2 md:py-5 bg-primary rounded-lg md:rounded-2xl shadow-sm shadow-primary text-white font-bold text-base md:text-3xl hover:scale-105 duration-300 transition-all;
}

.btn-tertiary {
  @apply px-6 md:px-[50px] lg:px-[72px] py-2 md:py-5 bg-secondary rounded-lg md:rounded-2xl shadow-sm shadow-secondary text-white font-bold text-base md:text-xl hover:scale-110 duration-300 transition-all;
}

/* Hero Animations */
.translate-left {
  transform: translateX(-5rem);
}

.translate-right {
  transform: translateX(5rem);
}

.translate-up {
  transform: translateY(-5rem);
}

.translate-down {
  transform: translateY(5rem);
}

/* Hero Section Animation */
@keyframes firstAnimation {
  0% {
    opacity: 0;
    right: 0;
  }
  50% {
    left: 0px;
  }
  100% {
    transform: translateX(7rem);
    opacity: 1;
  }
}

@keyframes secondTitleAnimation {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  50% {
    left: 50%;
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes secondCaptionAnimation {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  50% {
    left: 50%;
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes thirdTitleAnimation {
  0% {
    opacity: 0;
  }
  50% {
    right: 0px;
  }
  100% {
    transform: translateX(-7rem);
    opacity: 1;
  }
}

@keyframes thirdCaptionAnimation {
  0% {
    opacity: 0;
  }
  50% {
    right: 0px;
  }
  100% {
    transform: translateX(-7rem);
    opacity: 1;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.rounded-scrollbar::-webkit-scrollbar {
  border-bottom-right-radius: 50%;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}